body{
    background-color: rgb(253, 228, 232);
}

.sidebar{
    position: fixed;
    overflow-x: hidden;
    width: 250px;
    height: 100%;
    transition: 0.3s;
}

.question-container{
    transition: 0.3s;
}