body{
    background-color: #FDE2E4;
    font-family: Arial, Helvetica, sans-serif;
}

.a{
    display: flex;
    flex-direction: row;
    row-gap: 20px;
}

.a2{
    font-size: 25px;
    padding: 20px;

}

.a1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-color: rgb(231, 133, 185);
    
}

.a1-a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    font-size: 30px;
    height: 70px;
    width: 100%;
}

.a1-a:hover{
    background-color: rgb(209, 78, 148);
    transition: 0.3s;
}

.a2{
    background-color: rgb(209, 78, 148);
    height: 569px;
    width: 1200px;
}