body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 122, 161);
    font-size: 25px;
}

.b{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;

}

.a{
    display: grid; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-color: pink;
    background-color: rgba(187, 88, 146, 0.4);
    height: 400px;
    width: 500px;
    border-radius: 50px;
    
    
}

.a1{
    padding: 0px 20px;
    margin-bottom: -20px;
    
}

.inputBox{
    height: 190px;
    width: 390px;
    font-size: 20px;
    outline: none;
    background-color: rgb(255, 213, 227);
    padding: 10px;
}

.a3{
    margin-top: -20px;
}